Actividad 1
â€¢	Crear un arreglo de 4 dimensiones ordenados por la edad o el nombre

In [3]:
import numpy as np
key=[('Nombre','S10'),('Apellido','S10'),('Edad',int)]
datos=[('Juan','Alonso',19),('Byron','Pilligua',24),('Carlos','Reyes',17),('Marcos','Anchundia',20)]
arr= np.array(datos, dtype=key)
print(arr)

[(b'Juan', b'Alonso', 19) (b'Byron', b'Pilligua', 24)
 (b'Carlos', b'Reyes', 17) (b'Marcos', b'Anchundia', 20)]

In [4]:
print("Ordenar por nombre")
np.sort(arr,order='Nombre')

Ordenar por nombre

array([(b'Byron', b'Pilligua', 24), (b'Carlos', b'Reyes', 17),
       (b'Juan', b'Alonso', 19), (b'Marcos', b'Anchundia', 20)],
      dtype=[('Nombre', 'S10'), ('Apellido', 'S10'), ('Edad', '<i8')])

In [5]:
print("Ordenar por edad")
np.sort(arr,order='Edad')

Ordenar por edad

array([(b'Carlos', b'Reyes', 17), (b'Juan', b'Alonso', 19),
       (b'Marcos', b'Anchundia', 20), (b'Byron', b'Pilligua', 24)],
      dtype=[('Nombre', 'S10'), ('Apellido', 'S10'), ('Edad', '<i8')])