In [3]:
import pandas as pd
datos = pd.read_csv('/content/musica.csv')
datos

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Santana,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.5520,0.3570,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.1230,0.4730,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.1310,0.1400,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.1120,0.4390,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.3960,0.3500,91.030,217925.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,630sXRhIcfwr2e4RdNtjK,Rewrite The Stars,Zac Efron,0.684,0.619,10.0,-7.005,1.0,0.0386,0.0716,0.000000,0.1220,0.2840,125.046,217440.0,4.0
96,2xmrfQpmS2iJExTlklLoA,I Miss You (feat. Julia Michaels),Clean Bandit,0.638,0.658,3.0,-6.318,1.0,0.0456,0.2450,0.000004,0.0919,0.3300,105.076,205748.0,4.0
97,5WvAo7DNuPRmk4APhdPzi,No Brainer,DJ Khaled,0.552,0.760,0.0,-4.706,1.0,0.3420,0.0733,0.000000,0.0865,0.6390,135.702,260000.0,5.0
98,1j4kHkkpqZRBwE0A4CN4Y,Dusk Till Dawn - Radio Edit,ZAYN,0.258,0.437,11.0,-6.593,0.0,0.0390,0.1010,0.000001,0.1060,0.0967,180.043,239000.0,4.0
99,3EPXxR3ImUwfayaurPi3c,Be Alright,Dean Lewis,0.553,0.586,11.0,-6.319,1.0,0.0362,0.6970,0.000000,0.0813,0.4430,126.684,196373.0,4.0

In [5]:
data = (datos[['name','artists','tempo']])
print('Ordenado por artista')
data.sort_values(by= ['artists'],ascending = True)

Ordenado por artista

                                      name              artists    tempo
23                              Youngblood  5 Seconds of Summer  120.274
55  FEFE (feat. Nicki Minaj & Murda Beatz)              6ix9ine  125.978
88                                Downtown               Anitta  166.008
60                                    2002           Anne-Marie   96.133
65                          God is a woman        Ariana Grande  145.031
..                                     ...                  ...      ...
35         Eastside (with Halsey & Khalid)         benny blanco   89.391
20                                     NaN                  NaN      NaN
69                                     NaN                  NaN      NaN
70                                     NaN                  NaN      NaN
77                                     NaN                  NaN      NaN

[100 rows x 3 columns]

In [6]:
data = (datos[['name','artists','tempo']])
print('Ordenado por Tiempo')
data.sort_values(by= ['tempo'],ascending = True)

Ordenado por Tiempo

                             name            artists    tempo
38                        changes       XXXTENTACION   64.934
1                            SAD!       XXXTENTACION   75.023
0                      God's Plan            Santana   77.169
71                  Feel It Still  Portugal. The Man   79.028
78                       Criminal      Natti Natasha   79.997
..                            ...                ...      ...
85  Coraz?n (feat. Nego do Borel)             Maluma  198.075
20                            NaN                NaN      NaN
69                            NaN                NaN      NaN
70                            NaN                NaN      NaN
77                            NaN                NaN      NaN

[100 rows x 3 columns]